<style>
  .media-object {
    height: 50px;
    width: 50px;
    border-radius: 100%;
  }
</style>

<input
  #search_name
  name="search_name" 
  class="form-control" 
  required="required"
  (keydown.enter)="search(search_name)"
  placeholder="Enter github account name and press enter to search">

<div style="padding-top: 30px">
  <div class="media"
    *ngFor="let follower of followers">
    <div class="media-left">
      <a href="#">
        <img class="media-object" src="{{follower.avatar_url}}" alt="{{follower.login}}">
      </a>
    </div>
    <div class="media-body">
      <h4 class="media-heading">{{follower.login}}</h4>
      <a href="{{follower.html_url}}">{{follower.html_url}}</a>
    </div>
  </div>  
</div>